/* * {
    box-sizing: border-box;
} */


body {
    height: 100vh;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form {
    background: #a864d4;
    padding: 10px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    background: #e7e6e6;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    /* width: 200px; */
    height: 37px;
    border-radius: 10px;
}

form button {
    background-color: rgb(82, 166, 199);
    color: white;
    border: none;
    padding: 5px 10px;
    flex-grow: 1;

    border-radius: 10px;
}

#userTable {
    display: none;
    width: 300px;
    margin: 20px auto 0;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: Arial, sans-serif;
}

#userTable th,
#userTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#userTable th {
    background-color: #a864d4;
    color: white;
}